* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

header {
    width: 100%;
    height: 65px;
    background-color: #044863;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.search {
    width: 100%;
    height: 20px;
}

.search i {
    font-size: 1.5rem;
    margin-left: 120px;
    color: #fff;
    padding: 0;
    display: block;
    margin-top: 20px;
    cursor: pointer;
}

.btns {
    display: inline-block;
    width: 30%;
    margin-left: 120px;
    padding-left: 85px;
}

.btns a img {
    margin-top: 15px;
    margin-right: 20px;
    width: 125px;
    height: 37px;
}

.logo {
    display: inline-block;
    width: 60%;
    padding-left: 390px;
}

.logo a img {
    width: 150px;
    height: 50px;
    margin-top: 7px;
}

.margin-t {
    padding: 0;
    margin-top: 65px;
}

.menu {
    height: 2621px;
    width: auto;
    background-color: #2A2F33;
    padding: 0 !important;
}

.nav li {
    height: 50px;
    border-bottom: 1px solid rgb(58, 56, 58);
}

.nav li:hover {
    background-color: #fb474a;
    cursor: pointer;
}

.nav li a {
    text-decoration: none;
    color: #fff;
    display: block;
    margin-top: 14px;
    margin-left: 40px;
}

.main {
    background-color: #EDEFF0;
    height: auto;
}
.main-page-header {
    width: 1110px;
    height: auto;
    margin-left: 80px;
    margin-top: 145px;
}

.footer {
    margin-top: 80px;
    width: 100%;
    height: 105px;
    background-color: #FFFFFF;
    margin-left: 0;
}

.footer p {
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

.footer a {
    color: #000;
    margin-left: 10px;
}