<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ComputedProperty-Watcher</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
</head>
<body>
    <!-- Computed property -->
    <div id="example">
        <p>Giá trị của A: {{ tanga }}</p>
        <p>Giá trị của B: {{ tangb }}</p>
        <p>Giá trị của A: {{ tangaf() }}</p>
        <p>Giá trị của B: {{ tangbf() }}</p>
        <button v-on:click="a++">Tăng A</button>
        <button v-on:click="b++">Tăng B</button>
    </div>



    <!-- Watcher -->
    <div id="watch-example">
        <p>
            Hãy hỏi một câu hỏi yes/no:
            <input v-model="question">
        </p>
        <p>{{ answer }}</p>
    </div>

</body>
<script src="./js/ComputedProperty-Watcher.js"></script>
</html>