<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Syntax</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
<!-- Nội Suy -->
    <!-- Văn bản -->
    <span>Thông điệp: {{ msg }}</span>

    <!-- Có thể thực hiện các phép nội suy một lần (không cập nhật lại khi dữ liệu thay đổi) bằng cách sử dụng directive v-once,
    nhưng nhớ là làm như vậy sẽ ảnh hưởng đến tất cả các ràng buộc khác trên cùng một node -->
    <span v-once>Thông điệp này sẽ không bao giờ thay đổi: {{ msg }}</span>

    <!-- HTML Raw -->
    <!-- Cú pháp mustache sẽ thông dịch dữ liệu ra thành văn bản thuần túy (plain text),
    nghĩa là các kí tự HTML đặc biệt như <>&"' sẽ được mã hóa. Để xuất ra HTML thuần túy, bạn sẽ cần đến directive v-html -->
    <p>Sử dụng cú pháp mustache: {{ rawHtml }}</p>
    <p>Sử dụng directive v-html: <span v-html="rawHtml"></span></p>

    <!-- Các thuộc tính HTML -->
    <!-- Cú pháp mustache không dùng được bên trong các thuộc tính HTML. Thay vào đó, bạn hãy dùng directive v-bind -->
    <div v-bind:id="dynamicId"></div>
    <!-- Directive này cũng hoạt động với các thuộc tính boolean như disabled và selected 
        các thuộc tính này sẽ được bỏ đi khi biểu thức được tính toán trả về kết quả sai (falsy) -->
    <button v-bind:disabled="isButtonDisabled">Hòn Vọng Phu</button>

<!-- Cú pháp rút gọn -->
    <!-- v-bind -->
        <!-- cú pháp đầy đủ -->
            <a v-bind:href="url"> ... </a>
        <!-- cú pháp rút gọn: dùng dấu hai chấm -->
            <a :href="url"> ... </a>
    <!-- v-on -->
        <!-- cú pháp đầy đủ -->
            <a v-on:click="doSomething"> ... </a>
        <!-- cú pháp rút gọn: dùng kí tự @ -->
            <a @click="doSomething"> ... </a>
</body>
</html>