<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Mixins</title>
</head>
<body>
    <div id="app">
        <h1>{{message}}</h1>
    </div>
</body>
<script src="./js/Mixin.js"></script>
</html>
